.idea/
.bloop/
.metals/
.github/
.vscode/
.scalafmt.conf
.gitignore
build.sbt
pom.xml

node_modules/
project/
src/
target/
jar/pom.xml
webview/
dist/
!dist/extension.js

webpack.dev.js
webpack.prod.js
BUILDING.md

