@import '~antd/dist/antd.css';

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 750px;
}

.App .ant-layout-header {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.graph-font {
  font-size: 10px;
  fill: #000;
}

.graph-font-dark {
  font-size: 10px;
  fill: #FFF;
}

.graph-marker {
  fill: #888;
}

.graph-marker-dark {
  fill: #888;
}

.graph-link {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1.5;
  marker-end: url(#end)
}

.graph-link-dark {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1.5;
  marker-end: url(#end)
}

.graph-node {
  stroke: #888;
  stroke-width: 2;
  fill: #9D00A0
}

.graph-node-dark {
  stroke: #888;
  stroke-width: 2;
  fill: #9D00A0
}

.focus-node {
  stroke: #888;
  stroke-width: 2;
  fill: #1890ff
}

.focus-node-dark {
  stroke: #888;
  stroke-width: 2;
  fill: #1890ff
}

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #888;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 2px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #1890ff;
	color: #fefefe;
}
