@import '~antd/dist/antd.css';

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 750px;
}

.App .ant-layout-header {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  padding-right: 30px;
}